<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Request Forgery Example</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<body>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <div class="alert alert-primary" role="alert">
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            </div>
        {% endfor %}
    </ul>
{% endif %}

<script>
    function enableSubmitIfValidDonation(donation) {
        if (Number.parseInt(donation) > 0) {
            document.getElementById('submit').removeAttribute('disabled');
        }
        else {
            document.getElementById('submit').setAttribute('disabled', true);
        }
    }
</script>

<h1>Would you like to donate to our beautiful site?</h1><br>
<form action="{{ own_url }}" method="post">
    <label>
        <input type="text" name="donation" onchange="enableSubmitIfValidDonation(this.value)">
    </label>
    <input id="submit" type="submit" disabled>
</form>
<br>
<a href="/">Back</a>

</body>
</html>