<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Overview</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<body>
<a href="/sqli">SQLI example</a><br>
<a href="/xss">XSS example</a><br>
<a href="/forgery">Request Forgery example</a><br>
<br><br>
<a href="/sqli/fixed">SQLI example fixed</a><br>
<a href="/xss/fixed">XSS example fixed</a><br>
<a href="/forgery/fixed">Request Forgery example fixed</a><br>
</body>
</html>